<template>
    <div>
        <div class="bg-white w-72 h-full fixed top-0 left-0 shadow-lg z-20" id="nav">
            <div class="my-12 text-center" v-if="!$store.getters.user">
                <h1 class="font-bold text-xl">Log in to start</h1>
            </div>
            <div class="my-12 text-center" v-else>
              <ul class="text-gray-700">
                <router-link class="block px-2 pb-1 h-8 top-1 relative" to="/newtrucks">Trucks</router-link>
                <li>New Loads</li>
                <li>Poasted Loads</li>
                <li>Assigned Loads</li>
                <li>History</li>
                <li>Profile</li>
              </ul>
            </div>
            <hr>
              Role: {{$store.getters.role}} 
        </div>
    </div>
</template>

<script>
export default {
    name: "SidebarComponent",
    methods: {
        close() {
            this.$emit('close')
        }
    }
}
</script>

<style scoped>
.slide-fade-enter-active {
    transition: all .3s ease-in-out;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>