<template>
    <div>
        <header-component></header-component>
        <div class="w-4/7 mx-auto mt-6 py-8 px-16">
            <h2 class="text-2xl mb-4">About</h2>
            <p class="mb-2"><span class="font-bold">Vue.js Quickstart</span> comes with routing and state management out the box. Below is an example of state management with persisted state.</p>
            <p>Click the button a number of times, then reload the page. Click clear to reset the state.</p>
            <div class="text-center mt-4">
                <button @click="clicked" class="mx-auto bg-primary rounded py-2 px-8 text-white">Total clicks: {{clicks}}</button>
            </div>
            <div class="text-center mt-4">
                <button @click="clear" class="text-blue-500">Clear State</button>
            </div>
        </div>

        <div class="w-4/7 mx-auto mt-6 py-8 px-16">
            <h2 class="text-2xl mb-4">Formatting Dates</h2>
            <p>For information about date formats, see <a class="text-blue-500" target="_blank" href="https://momentjs.com/docs/#/parsing/string-format/">moment.js docs.</a></p>
            <section class="mt-4">
                <p class="mb-2">First import the desired method.</p>
                <pre class="p-4 rounded bg-gray-100 text-sm">import {formatDate} from "../helpers/dates";</pre>
            </section>
            <section class="mt-4">
                <p class="mb-2">Next, create the computed method</p>
                <pre class="p-4 rounded bg-gray-100 text-sm">computed: {
    now() {
        return formatDate('Do MMM YY, HH:mma', new Date())
    }
}</pre>
            </section>
            <section class="mt-4">
                <p class="mb-2">Finally, call the computed method in the template</p>
                <pre class="p-4 rounded bg-gray-100 text-sm">&lcub;&lcub; now &rcub;&rcub;</pre>
            </section>
            <p class="my-2 font-bold">Result</p>
            <p class="my-2">{{ now }}</p>
        </div>
        <div class="w-4/7 mx-auto py-8 px-16">
            <h2 class="text-2xl mb-4">Modals</h2>
            <p>For bounce modals we use 2 separate components and 2 separate transitions, one to bounce the modal in, and one to add a translucent layer behind.</p>
            <div class="mt-4 text-center">
                <button v-on:click="showModal = true" class="mx-auto bg-primary rounded py-2 px-8 text-white">Open</button>
            </div>
            <transition name="bounce" mode="out-in">
                <example-modal-component v-if="showModal" @close="closeModal" class="h-full w-full fixed top-0 left-0 z-20"></example-modal-component>
            </transition>
            <transition name="fade" mode="out-in">
                <modal-layer-component v-if="showModal"></modal-layer-component>
            </transition>
        </div>

        <div class="w-4/7 mx-auto py-8 px-16">
            <h2 class="text-2xl mb-4">Toasts</h2>
            <p>Click the button below to show the toast.</p>
            <div class="mt-4 text-center">
                <button v-on:click="showToast = true" class="mx-auto bg-primary rounded py-2 px-8 text-white">Show Toast</button>
            </div>
            <transition name="fade" mode="out-in">
                <toast v-if="showToast"></toast>
            </transition>
        </div>
    </div>
</template>

<script>
import {formatDate} from "../helpers/dates";
import ExampleModalComponent from "../components/modals/ExampleModalComponent";
import ModalLayerComponent from "../components/modals/ModalLayerComponent";
import HeaderComponent from "../components/layout/HeaderComponent";

export default {
    name: "Home",
    components: {HeaderComponent, ModalLayerComponent, ExampleModalComponent},
    data() {
        return {
            clicks: this.$store.getters.clicks,
            showModal: false,
            showToast: false,
            token: this.$store.getters.token
        }
    },
    created() {
      // console.log('created getters token', this.$store.getters.token, JSON.parse(Buffer.from(this.$store.getters.token.split('.')[1], 'base64').toString()));
      console.log(this.abToast);
    },
    computed: {
        now() {
            return formatDate('Do MMM YY, HH:mma', new Date())
        }
    },
    methods: {
        clicked() {
            this.$store.commit('addClick');
            return this.setClicks();
        },
        clear() {
            this.$store.commit('resetState', this.$store);
            return this.setClicks();
        },
        setClicks() {
            this.clicks = this.$store.getters.clicks; // Many getting the state store each time isn't the best idea?
        },
        closeModal() {
            this.showModal = false;
        }
    }
}
</script>

<style scoped>

</style>