<template>
    <div>
        <div class="pt-12 pb-6 text-center">
            <h1 class="text-4xl mb-2" v-if="$route.name === 'Register'">Register</h1>
            <h1 class="text-4xl mb-2" v-else>Login</h1>
        </div>
        <div class="w-96 mx-auto">
            <form v-on:submit.prevent="tryAuth">
                <div> 
                    <label class="w-full" for="user">Email</label> 
                    <input class="w-full bg-gray-100 py-2 px-4 mt-2 mb-6 text-lg" type="text" id="username" v-model="user">
                </div>
                <div>
                    <label class="w-full" for="password">Password</label>
                    <input class="w-full bg-gray-100 py-2 px-4 mt-2 mb-6 text-lg" type="password" id="password" v-model="password">
                </div>
                <div v-if="$route.name === 'Register'">
                  <label class="w-full" for="user">Role</label>
                    <!-- <input class="w-full bg-gray-100 py-2 px-4 mt-2 mb-6 text-lg" type="text" id="user" v-model="username"> -->
                      <select v-model="username">
                          <option selected>SHIPPER</option>
                          <option>DRIVER</option>
                      </select>
                      <hr>
                </div>
                <div>
                    <button class="w-full bg-green-400 py-2 px-4 text-lg text-white font-semibold"  v-if="$route.name === 'Register'">Register</button>
                    <button class="w-full bg-green-400 py-2 px-4 text-lg text-white font-semibold"  v-else>Login</button>
                </div>
            </form>
        </div>
        <div v-if="error" class="text-center mt-6">
            <p class="text-red-500">{{ message }}</p>
        </div>
        <div class="text-center mt-6">
            <p class="text-blue-500"><router-link to="/">Back to Home</router-link></p>
        </div>
  
            <transition name="bounce" mode="out-in" :massage="message2modal">   
                <example-modal-component v-if="showModal" @close="closeModal" class="h-full w-full fixed top-0 left-0 z-20"></example-modal-component>
            </transition>
            <transition name="fade" mode="out-in">
                <modal-layer-component v-if="showModal"></modal-layer-component>
            </transition>

    </div>
</template>

<script>
import axios from "axios";

import ExampleModalComponent from "../components/modals/ExampleModalComponent.vue";
import ModalLayerComponent from "../components/modals/ModalLayerComponent.vue";

export default {
    name: "Login",
    components: {ModalLayerComponent, ExampleModalComponent},
    data() {
        return {
            message2modal: null,
            user: null,
            username: 'SHIPPER',
            password: null,
            apiUrl: 'http://localhost:8080',
            error: false,
            errorMessage: null,
            showModal: false,
        }
    },
    methods: {
        closeModal() {
            this.showModal = false;
        },
        tryAuth() {
            console.log('tryAuth')
            let self = this;
            let data = {
                email: this.user,
                role: this.username,
                password: this.password
            }
            let url = this.$route.name === 'Register' ? this.apiUrl + '/api/auth/register' : this.apiUrl + '/api/auth/login';

            axios.post(url, JSON.stringify(data), {
              headers: {
                // Overwrite Axios's automatically set Content-Type
                'Content-Type': 'application/json'
              }
            })
            .then(function(response) {
                  console.log('response', response)
                  console.log('url',  url)
                  self.message2modal = response.data.message
                  self.showModal = true
                    // check the status code for unauthorized and set error message.
                    // The interceptor handles all 401 errors, but here we want to also show the error message.
                    if(response.data.status_code === 401) {
                        return self.showError(response.data.message)
                    }

                    // store the access token
                    if(url === 'http://localhost:8080/api/auth/login'){
                      console.log('response.data.jwt_token', response.data.jwt_token)
                      self.$store.commit('loginSuccess', response.data.jwt_token);
                      let parse_jwt = JSON.parse(Buffer.from(response.data.jwt_token.split('.')[1], 'base64').toString())
                      console.log('parse_jwt', parse_jwt, parse_jwt.email, parse_jwt.role)
                      // this.$store.getters.token
                      let obj = {email: parse_jwt.email, role: parse_jwt.role}
                      self.$store.commit('setUser', obj);
                    }
                    
                    // return self.getUser();
                }).catch(function(err) {
                  console.log('err catch', err)
                  self.message2modal = err
                  self.showModal = true
                });
        },
        getUser() {
            console.log('getuser')
            let self = this;
            let url = this.apiUrl + '/me';
            axios.get(url)
                .then(function(response) {
                    // No need to handle any 401 errors
                    return self.$store.commit('setUser', response.data.data);
                }).catch(function() {});
        },
        showError(message) {
            this.error = true;
            this.errorMessage = message;
        }
    }
}
</script>

<style scoped>

</style>