<template>
    <!-- <header-component></header-component> -->
    <div class="w-4/7 mx-auto mt-6 py-8 px-16">
        <h1>Trucks</h1>
        <ul>
          <!-- apiData {{apiData}} -->
          <li v-for="(truck, index) in apiData" :key=index>
            {{truck}}
          </li>
        </ul>
        <hr>
        <h2>Add new truck</h2>
        <input type="text" v-model.lazy="truck" class="form-control">
        <div class="text-center mt-4">
          <button @click="postTruck" class="mx-auto bg-primary rounded py-2 px-8 text-white">Add Truck</button></div>
        </div>
</template>

<script>
// import HeaderComponent from "../components/layout/HeaderComponent";
import axios from "axios";

export default {
  // components: {HeaderComponent},
  data(){
    return{
      apiUrl: 'http://localhost:8080',
      apiData: [],
      truck: null
    }
  },
  created(){
    this.getTrucks();
  },
  methods:{
    // setApiData(data){
    //   this.apiData = data;
    // },
    getTrucks(){
      let url = this.apiUrl + '/api/trucks'
      var self = this;
      axios.get(url, {
              headers: {
                // Overwrite Axios's automatically set Content-Type
                'Content-Type': 'application/json',
                'Authorization': this.$store.getters.token
              }
            })
            .then(function(response) {
                  console.log('response', response.data.trucks)
                  self.apiData = response.data.trucks;
            }).catch(function(err) {
                  console.log('err catch', err)
            });
    },
    postTruck(){
      console.log('postTruck')
      var self = this;
      let url = this.apiUrl + '/api/trucks'
      axios.post(url, JSON.stringify({ "type": this.truck }), {
              headers: {
                // Overwrite Axios's automatically set Content-Type
                'Content-Type': 'application/json',
                'Authorization': this.$store.getters.token
              }
            })
            .then(function(response) {
                  console.log('response', response)
                  self.getTrucks();
            }).catch(function(err) {
                  console.log('err catch', err)
            });
    },
    getTruckById(){
      
    }
  }
  
}
</script>

<style>
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
</style>